<%= hide_component_button %>

<% documents.each do |document| %>
  <% @document = document %>
  <div id="<%= @document[:ref_s] %>" <%= highlight?(@document[:ref_s] ) %> class="component_part clearfix c0<%= @document[:component_level_i] %>">

    <h5 id="<%= @document[:id] %>">
      <span>
        <%= comma_list( [@document["title_display"], @document["unitdate_display"]] ) %>
      </span>
    </h5>

    <dl>
      <%= render_component_field("general_note") %>
      <%= render_component_field("scopecontent") %>
      <%= render_component_field("accessrestrict") %>
      <%= render_component_field("separatedmaterial") %>
      <%= render_component_field("originalsloc") %>
      <%= render_component_field("physdesc",{:label=>"Physical Description"}) %>
      <%= render_component_field("dimensions") %>

      <% if @document["accession_display"] %>
        <dt>Musuem Accession Numbers:</dt>
        <dd><%= @document["accession_display"].join("<br/>") %></dd>
      <% end %>

      <% if @document["location_display"] %>
        <dt>Location:</dt>
        <dd><%= @document["location_display"].first %></dd>
      <% end %>

      <%= render_component_field("langmaterial",{:label=>"Language of Materials"}) %>
      <%= render_component_field("acqinfo") %>
    </dl>

    <%= continue_components %>

  </div>

<% end %>
