<script>
  componentLink();
</script>

<% # This is the default partial copied over from the gem %>
<dl class="defList">
  <% document_show_fields.each do |solr_fname, field| -%>
    <% if document.has? solr_fname %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value :document => document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
</dl>

<% unless @children.empty? %>
  <h2>Contents</h2>
  <%= render_component_children %>
<% end %>