<% sidebar_items << capture do -%>
  <%= render_ead_sidebar %>
<% end -%>

<h1>
  <%= document_icon(@document) %>
  <%= document_heading %>
</h1>

<!-- Video request from <%= request.remote_ip %> -->

<%= insert_player %>
